:root{
    --my-black: #2d2d2d;
    --text-blue: #5db9cc;
    --text-light-blue: #9eecfc;
    --dark-blue: #10425e;
}

/*Responsive text in font-size
1vw = 1% of viewport width

1vh = 1% of viewport height

1vmin = 1vw or 1vh, whichever is smaller

1vmax = 1vw or 1vh, whichever is large
*/

@font-face {
    font-family: Telemarines1Import;
    src: url("telemarines.ttf");
}

.size100{
    width: 100%;
    height: 100%;
}

.horizontal{
    display:flex;
    justify-content: center;
}

.vertical{
    display:flex;    
    flex-direction: column;
    justify-content: center;
}

body, html{
    cursor: url("../assets/evolution_cursor.png"), auto;
    //cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png"), auto;
    font-family: Telemarines1Import;
    text-align: center;
    margin: 0px auto;
    color: var(--text-blue);
    height:100%;
    width: 100%;
    background: var(--my-black);
    overflow: hidden;
    /*overflow-x: hidden;*/
    background: url("../assets/bg.png") center center no-repeat;
    background-size: 100% 100%;
}
input[type=range]{
    width: 70%;
    margin:auto;
}
input, button{
    cursor: url("../assets/evolution_cursor.png"), auto;
}
input, button:focus{
	outline-style:none;
}
input, button:hover{
    cursor: url("../assets/evolution_cursor_hover.png"), auto;
}

.title{
    font-size:1.8em;    
    font-weight: bold;
    margin:0px; 
    text-shadow:4px 4px 1px #39539d;
}

.main-menu{    
    //background-image: url("../assets/bg.png")center center no-repeat;
    //background-repeat: no-repeat;
    //background-size: 100% 100%;
    margin: 0px auto;
    width: 100%;
    height: 100%;
}

.menu-image{
    min-height: 150px;
    height: 100%;
    min-width: 50px;
    width: 100%;
}

.menu-btn{
    //background-image: url("assets/btn1.png");
    background-color: rgba(0, 0, 0, 0);
    border: none;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: calc(70%);
    height: 20%;
    margin-top: 1%;
    margin-bottom: 1%;    
    color: var(--text-blue);
    font-family: Telemarines1Import;
    font-weight: bold;
    font-size: 1em;
    transform-origin: 0% 0%;
    //white-space: nowrap;
    transform: scaleX(1);
    transition-duration: 0.3s;
}

.menu-btn:hover{
    transform: scaleX(1.2);
    filter: brightness(150%);
    transition-duration: 0.3s;
}

.menu-btn[disabled]{
    filter: alpha(opacity=65);
    opacity: .65;
    cursor: url("../assets/evolution_cursor.png"), auto;
}

.menu-btn[disabled]:hover{
    transform: scaleX(1);
    filter: brightness(100%);
}

.title-md{
    font-weight: bold;
    font-size: 1.5em;  
}

.title-sm{
    font-weight: bold;
    font-size: 1.2em;  
}

.settings-menu{
    text-align : center;
    display: none;
    background-image: url("../assets/bg_settings.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border:4px solid #2d2d2d;
    border-radius:  20px;    
    border-color: #ffffff #5d5d5d #5d5d5d #fafafa;
    position: absolute;
    height:70%;
    width:60%;
    left:20%;
    top:15%;
    z-index: 10;
    padding: auto;
}

table{
    width: 100%;
    height: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
}

th{
    font-size: 2vw;
    height: 10%;
}

tr{
    font-size: 1.5vw;
    height: 9%;
}

tr:nth-child(even) {
    background-color: var(--dark-blue);
}

.floating-background{
    position: absolute;
    width: 95%;
    height: 63%;    
    left: 2.5%;
    top: 27%;
    background-color: var(--dark-blue);
    opacity: 0.4;
    border-radius: 30px;
}

.settings-title{
    font-size:1.6em;
    font-weight: bold;
    height: 18%;
    margin:0px;
    vertical-align: middle;
}

.menu-subtitle{
    height: 18%;
    padding-top: 2%;
    font-size: 1em;
}

input[type=checkbox]{
    transform: scale(1.3);
    margin-left: 5%;
}

.bt-select-lenguaje{
    background-color: rgba(0 , 0, 0, 0);
    width: 20%;
    height: 100%;
    padding: 1%;
    transform: scaleX(1);
    transition-duration: 0.2s;
}

.img-language{
    min-width: 36px;
    min-height: 22px;
    width: 80%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: auto;
    border: 2px solid var(--dark-blue);
    border-radius: 5px;
}

.bt-select-lenguaje:hover{
    transform: scale(1.1);
    transition-duration: 0.2s;
}
.bt-select-lenguaje:hover{
    filter: brightness(150%);
}

.language-selected{
    border: 5px solid var(--text-blue);
}

.close-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:1%;
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    border:2px solid #2d2d2d;
    background: #d83037;
    background-image: -moz-linear-gradient(-45deg, #e7363e 20%, #af2e2f 70%);
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.2, #e7363e), color-stop(0.8, #af2e2f));
    -webkit-box-shadow: 1px 2px 3px 2px rgba(50,50,50,0.4);
    -moz-box-shadow: 1px 2px 3px 2px rgba(50, 50, 50, 0.4);
    box-shadow: 1px 2px 3px 2px rgba(50, 50, 50, 0.4);
    padding: 0px;
    text-align: center;   
    color: var(--my-black);
    font-size: 0.9em;
    font-weight: bold;    
    right:0px; 
    left:auto; 
    top:0px;
    z-index: 8;
}

.close-button:hover{    
    transform: scale(1.1);
    filter: brightness(150%);
    transition-duration: 0.2s;
    //background: #ed5e61;
    //background-image: -moz-linear-gradient(-45deg, #ed5e61 20%, #e7363e 70%);
    //background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.2, #ed5e61), color-stop(0.8, #e7363e));    
}

.close-button:active{
    filter: brightness(100%);
    background: #d83037;
    background-image: -moz-linear-gradient(-45deg, #e7363e 20%, #af2e2f 70%);
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.2, #e7363e), color-stop(0.8, #af2e2f));
    -webkit-box-shadow: inset 1px 2px 3px 2px rgba(0, 0, 0,0.4);
    -moz-box-shadow: inset 1px 2px 3px 2px rgba(0, 0, 0, 0.4);
    box-shadow: inset 1px 2px 3px 2px rgba(0, 0, 0, 0.4);
}

.exit-btn{
    width: 40%;
    height: 75%;
    background-color: var(--dark-blue);
    color: var(--text-blue);
    font-size: 0.7em;
    vertical-align: middle;
    transform: scale(1);
    transition-duration: 0.15s;
    border-radius: 5px;    
    margin:0px auto;
}
.exit-btn:hover{
    transform: scale(1.1);
    transition-duration: 0.15s;
    filter: brightness(150%);
}

.play-button{
    height: 30%;
    min-height: 20px;
    width: 50%;
    min-width: 80px;
    border-radius: 5px;
    border:1px solid var(--text-blue);
    background-color: var(--dark-blue);
    -webkit-box-shadow: 1px 2px 3px 2px rgba(50,50,50,0.4);
    -moz-box-shadow: 1px 2px 3px 2px rgba(50, 50, 50, 0.4);
    box-shadow: 1px 2px 3px 2px rgba(50, 50, 50, 0.4);
    margin-top:0px;
    margin-bottom:2%;
    padding:0px;
    text-align: center;   
    color: var(--text-blue);
    font-size: 1.8vw;
    font-weight: bold; 
    vertical-align: middle;
    transform: scale(1);
    transition-duration: 0.15s;
}

.play-button:hover{
    transform: scale(1.1);
    transition-duration: 0.15s;
    filter: brightness(150%);
}

.pause-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:1%;
    position: absolute;
    height: 2vw;
    width: 3vw;
    min-height: 25px;
    min-width: 40px;
    border-radius: 20px;
    border:2px solid #2d2d2d;
    background: var(--text-blue);
    background-image: -moz-linear-gradient(-45deg, var(--text-blue) 20%, var(--dark-blue) 70%);
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.2, var(--text-blue)), color-stop(0.8, var(--dark-blue)));
    -webkit-box-shadow: 1px 2px 3px 2px rgba(50,50,50,0.4);
    -moz-box-shadow: 1px 2px 3px 2px rgba(50, 50, 50, 0.4);
    box-shadow: 1px 2px 3px 2px rgba(50, 50, 50, 0.4);
    padding: 0px;
    padding-bottom: 0.2%;
    text-align: center;   
    color: white;
    font-size: calc(10px + 0.8vw);  /*hack for get min font size*/
    font
    font-weight: bold;    
    left:0px; 
    top:0px;
    z-index: 10;
    transform: scale(1);
    transition-duration: 0.15s;
}

.pause-button:hover{
    transform: scale(1.1);
    transition-duration: 0.15s;
    filter: brightness(150%);
}

.game-window{
    display: none;
    background: white;
    border: none;    
    position: absolute;
    height:100%;
    width:100%;
}

#playground{
    height: 100%;
    width: 100%;
    border: 2px solid black;
    margin:0px;
    padding:0px;
    image-rendering: optimizeSpeed;             /* Older versions of FF          */
    image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
    image-rendering: -webkit-optimize-contrast; /* Safari                        */
    image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
    image-rendering: pixelated;                 /* Awesome future-browsers       */
    -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
    /*cursor:none;*/
}

.prompt-window{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 30;
    background: url("../assets/bg_portrait.png") center center no-repeat;
    background-size: 100% 100%;
    display:none;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 100%;
}

.carousel-indicators{
    margin-bottom:0px;
    bottom: 0px;
}

.carousel-indicators > li{
    transform: scale(1)
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  padding: 0px;
  height: 30%;
  width: 80%;
  left:10%;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 100%;
  background-color: #777;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;  
  height: 100%;
  border-radius:10px;
}

.carousel-inner {
    height: 100%;
    border-radius:10px;
}

.carousel-control.left{
  background-image: -webkit-linear-gradient(left, rgba(93, 185, 204, .8) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image:      -o-linear-gradient(left, rgba(93, 185, 204, .8) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(93, 185, 204, .8)), to(rgba(0, 0, 0, .0001)));
  background-image:         linear-gradient(to right, rgba(93, 185, 204, .8) 0%, rgba(0, 0, 0, .0001) 100%);
  border-radius: 10px 0px 0px 10px;
}

.carousel-control.right{
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(93, 185, 204, .8) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(93, 185, 204, .8) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(93, 185, 204, .8)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(93, 185, 204, .8) 100%);
  border-radius: 0px 10px 10px 0px;
}


/*Small devices (landscape phones, 544px and up)*/
@media (min-width: 544px) {
    .title{
        font-size:2em;
    }
    .menu-btn{
        font-size:1.2em;
    }
    .close-button{
        font-size: 1em;
        height: 24px;
        width: 24px;
    }
    .settings-title{
        font-size:1.85em;
    }
    .menu-subtitle{
        font-size:1.1em;
    }
    .title-md{
        font-size:1.7em;
    }
    .title-sm{        
        font-size:1.2em;
    }
}


/*Medium devices (tablets, 565px and up)*/
@media (min-width: 656px){
     .title{
        font-size:2.5em;
    }
    .menu-btn{
        font-size:1.6em;
    }
    .close-button{
        font-size: 1em;
        height: 24px;
        width: 24px;
    }
    .settings-title{
        font-size:2.2em;
    }
    .menu-subtitle{
        font-size:1.2em;
    }
    .exit-btn{
        font-size:0.65em;
    }    
    .title-md{
        font-size:2em;
    }
    .title-sm{        
        font-size:1.4em;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px){
     .title{
        font-size:3.2em;
        text-shadow:5px 5px 1px #39539d;
    }
    .menu-btn{
        font-size:2em;
    }
    .close-button{
        font-size: 1em;
        height: 24px;
        width: 24px;
    }
    .settings-title{
        font-size:2.7em;
    }
    .menu-subtitle{
        font-size:1.3em;
    }
    input[type=checkbox]{
        transform: scale(1.5);
    }
    .exit-btn{
        font-size:0.68em;
    }
    .title-md{
        font-size:2.3em;
    }
    .title-sm{        
        font-size:1.6em;
    }
}


/*Large devices (desktop, 880px and up)*/
@media (min-width: 880px){
     .title{
        font-size:3.8em;
    }.menu-btn{
        font-size:2.3em;
    }    
    .close-button{
        font-size: 1em;
        height: 24px;
        width: 24px;
    }
    .settings-title{
        font-size:3em;
    }
    .menu-subtitle{
        font-size:1.5em;
    }
    .exit-btn{
        font-size:0.7em;
    }
    .title-md{
        font-size:2.5em;
    }
    .title-sm{        
        font-size:1.8em;
    }
}

/*Large devices (desktop, 992px and up)*/
@media (min-width: 992px){
     .title{
        font-size:4.3em;
         text-shadow:5px 6px 1px #39539d;
    }
    .menu-btn{
        font-size:2.8em;
    }
    .close-button{
        font-size: 1em;
        height: 26px;
        width: 26px;
    }
    .settings-title{
        font-size:3.4em;
    }
    .menu-subtitle .play-button{
        font-size:1.6em;
    }
    .exit-btn{
        font-size:0.75em;
    }
    .title-md{
        font-size:2.7em;
    }
    .title-sm{        
        font-size:2em;
    }
}

/*Extra Large devices (large desktops, 1104px and up)*/
@media (min-width: 1104px){
     .title{
        font-size:4.8em;
    }
    .menu-btn{
        font-size:3.2em;
    }
    .close-button{
        font-size: 1em;
        height: 28px;
        width: 28px;
    }
    .settings-title{
        font-size:3.8em;
    }
    .menu-subtitle .play-button{
        font-size:1.7em;
    }
    input[type=checkbox]{
        transform: scale(2);
    }
    .exit-btn{
        font-size:0.8em;
    }
    .title-md{
        font-size:3em;
    }    
    .title-sm{        
        font-size:2.3em;
    }
}

/*Extra Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px){
     .title{
        font-size:5.2em;
    }
    .menu-btn{
        font-size:3.8em;
    }
    .close-button{
        font-size: 1.2em;
        height: 30px;
        width: 30px;
    }
    .settings-title{
        font-size:4.1em;
    }
    .menu-subtitle .play-button{
        font-size:2em;
    }
    .exit-btn{
        font-size:1em;
    }
    .title-md{
        font-size:3.2em;
    }
    .title-sm{        
        font-size:2.4em;
    }
}


/*Extra X Large devices (large desktops, 1500px and up)*/
@media (min-width: 1500px){
     .title{
        font-size:6.4em;
        text-shadow:7px 7px 1px #39539d;
    }
    .menu-btn{
        font-size:4.5em;
    }
    .close-button{
        font-size: 1.2em;
        height: 30px;
        width: 30px;
    }
    .settings-title{
        font-size:4.3em;
    }
    .menu-subtitle{
        font-size:2.2em;
    }
    .exit-btn{
        font-size:1em;
    }
    .title-md{
        font-size:3.5em;
    }
    .title-sm{        
        font-size:2.6em;
    }
}

/*detect when the web app was launched from Home Screen*/ 
@media all and (display-mode: standalone) {
  .fullscreen {
    display: none; 
  }
}




