:root{
    --main-color: #7cd42a;
    --secondary-color: #03a231;
    --light-color: #b8e88b;
    --dark-color: #036831;
    --my-black: #2d2d2d;
    --text-blue: #5db9cc;
}

@font-face {
    font-family: Telemarines1Import;
    src: url("telemarines.ttf");
}

html{
    max-height: 100%;
    height: 100%;
}

body{
    font-family: Telemarines1Import;
    text-align: center;
    margin: 0 auto;
    color: var(--text-blue);
    height:100%;
    width: 100%;
    background: #000;
}

.title{
    font-size:600%;
    font-weight: bold;
    margin:0px;
    padding: auto;
    height: 15%;
}

.settings-title{
    font-size:350%;
    font-weight: bold;
    margin:30px;
}

.main-menu{    
    padding: 40px;  
    padding-top: 10px;
    background-image: url("../assets/bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.menu-image{
    position: absolute;
    top: 0px;
    left: 50px;
    height: 100%;
}

.menu-btn{
    background-image: url("/you-need-healing/assets/btn1.png");
    background-color: rgba(0, 0, 0, 0);
    border: none;
    background-repeat: no-repeat;
    width: 600px;
    height: 138px;
    background-size: 600px 130px;
    position: absolute;
    top: 200px;
    left: 540px;
    
    font-family: Telemarines1Import;
    font-weight: bold;
    font-size: 400%;
    transform-origin: 0% 0%;
}

.menu-btn:hover{
    transform: scaleX(1.1);
}

.menu-btn:focus{
	outline-style:none;
}

.btn-group{
    position: absolute;
    top: -25px;
    left: -45px;
}

/*
.menu-button{
    height: 16%;
    width: 25%;    
    border-radius: 20px;
    border:4px solid var(--my-black);
    background: var(--main-color);
    background-image: -moz-linear-gradient(-45deg, var(--main-color) 20%, var(--secondary-color) 70%);
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.2, var(--main-color)), color-stop(0.8, var(--secondary-color)));
    -webkit-box-shadow: 1px 3px 4px 3px rgba(50,50,50, 0.4);
    -moz-box-shadow: 1px 3px 4px 3px rgba(50, 50, 50, 0.4);
    box-shadow: 1px 3px 4px 3px rgba(50, 50, 50, 0.4);
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    padding:auto;
    text-align: center;   
    color: var(--my-black);
    font-size: 30px;
    font-weight: bold;
    cursor:pointer;  
}
.menu-button:hover{
    background: var(--light-color);
    background-image: -moz-linear-gradient(-45deg, var(--light-color) 20%, var(--main-color) 70%);
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.2, var(--light-color)), color-stop(0.8, var(--main-color)));
}
*/

.menu-button:active{
    background: var(--main-color);
    background-image: -moz-linear-gradient(-45deg, var(--main-color) 20%, var(--secondary-color) 70%);
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.2, var(--main-color)), color-stop(0.8, var(--secondary-color)));
    -webkit-box-shadow: inset 2px 3px 4px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 2px 3px 4px 3px rgba(0, 0, 0, 0.4);
    box-shadow: inset 2px 3px 4px 3px rgba(0, 0, 0, 0.4);
}
.menu-button[disabled]{
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    opacity: .65;
    background: var(--dark-color);    
}
.menu-button[disabled]:hover{
    background: var(--dark-color);  
}

.close-button{
    margin:5px;
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    border:2px solid #2d2d2d;
    background: #d83037;
    background-image: -moz-linear-gradient(-45deg, #e7363e 20%, #af2e2f 70%);
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.2, #e7363e), color-stop(0.8, #af2e2f));
    -webkit-box-shadow: 1px 2px 3px 2px rgba(50,50,50,0.4);
    -moz-box-shadow: 1px 2px 3px 2px rgba(50, 50, 50, 0.4);
    box-shadow: 1px 2px 3px 2px rgba(50, 50, 50, 0.4);
    padding: 0px;
    text-align: center;   
    color: var(--my-black);
    font-size: 20px;
    font-weight: bold;
    cursor:pointer;     
}

.close-button:hover{    
    background: #ed5e61;
    background-image: -moz-linear-gradient(-45deg, #ed5e61 20%, #e7363e 70%);
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.2, #ed5e61), color-stop(0.8, #e7363e));    
}

.close-button:active{
    background: #d83037;
    background-image: -moz-linear-gradient(-45deg, #e7363e 20%, #af2e2f 70%);
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.2, #e7363e), color-stop(0.8, #af2e2f));
    -webkit-box-shadow: inset 1px 2px 3px 2px rgba(0, 0, 0,0.4);
    -moz-box-shadow: inset 1px 2px 3px 2px rgba(0, 0, 0, 0.4);
    box-shadow: inset 1px 2px 3px 2px rgba(0, 0, 0, 0.4);
}

.play-button{
    height: 25%;
    width: 30%;
    border-radius: 4px;
    border:1px solid var(--secondary-color);
    background: var(--main-color);    
    -webkit-box-shadow: 1px 2px 3px 2px rgba(50,50,50,0.4);
    -moz-box-shadow: 1px 2px 3px 2px rgba(50, 50, 50, 0.4);
    box-shadow: 1px 2px 3px 2px rgba(50, 50, 50, 0.4);
    margin: 2%;
    padding: 0px;
    text-align: center;   
    color: var(--my-black);
    font-size: 20px;
    font-weight: bold;
    cursor:pointer;     
}

.settings-menu{
    text-align : center;
    display: none;
    background: green;
    border:4px solid #2d2d2d;
    border-radius:  20px;    
    border-color: #ffffff #5d5d5d #5d5d5d #fafafa;
    position: absolute;
    height:80%;
    width:80%;
    left:10%;
    top:15%;
    z-index: 10;
    padding: auto;
}

input[type=range]{
    width: 50%;
    margin:auto;
}

.game-window{
    display: none;
    background: white;
    border: none;    
    position: absolute;
    height:100%;
    width:100%;
}

.level-window{
    display: none;
    background: rgba(150,200,150,0.8);
    border: none;    
    border-radius:  20px; 
    position: absolute;
    width:60%;
    height:60%;
    left:20%;
    top:20%;
    padding:0px;
    margin:0px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 100%;
}

.carousel-indicators{
    margin-bottom:0px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 100%;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;  
  height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-control.left{
  background-image: -webkit-linear-gradient(left, rgba(0, 150, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 150, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 150, 0, .5)), to(rgba(0, 0, 0, .0001)));
  background-image:         linear-gradient(to right, rgba(0, 150, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
}

.carousel-control.right{
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 150, 0, .5) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 150, 0, .5) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 150, 0, .5)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 150, 0, .5) 100%);
}






