html{
    max-height: 100%;
    height: 100%;
}

body{
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    background-color: #c3e6a3;
    color: #2d2d2d;
}

.title{
    font-size:60px;
    font-weight: bold;
    margin:40px;
}

.settings-title{
    font-size:60px;
    font-weight: bold;
    margin:30px;
}

.main-menu{    
    padding: 40px;  
    padding-top: 10px;
}

.menu-button{
    height: 100px;
    width: 300px;    
    border-radius: 20px;
    border:4px solid #2d2d2d;
    background: #7cd42a;
    background-image: -moz-linear-gradient(-45deg, #7cd42a 20%, #03a231 70%);
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.2, #7cd42a), color-stop(0.8, #03a231));
    -webkit-box-shadow: 1px 3px 4px 3px rgba(50,50,50, 0.4);
    -moz-box-shadow: 1px 3px 4px 3px rgba(50, 50, 50, 0.4);
    box-shadow: 1px 3px 4px 3px rgba(50, 50, 50, 0.4);
    margin: 20px;
    padding:10px;
    text-align: center;   
    color: #2d2d2d;
    font-size: 30px;
    font-weight: bold;
    cursor:pointer;  
}
.menu-button:hover{
    background: #b8e88b;
    background-image: -moz-linear-gradient(-45deg, #b8e88b 20%, #5ab874 70%);
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.2, #b8e88b), color-stop(0.8, #5ab874));
}
.menu-button:active{
    background: #7cd42a;
    background-image: -moz-linear-gradient(-45deg, #7cd42a 20%, #03a231 70%);
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.2, #7cd42a), color-stop(0.8, #03a231));
    -webkit-box-shadow: inset 2px 3px 4px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 2px 3px 4px 3px rgba(0, 0, 0, 0.4);
    box-shadow: inset 2px 3px 4px 3px rgba(0, 0, 0, 0.4);
}

.close-button{
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    border:2px solid #2d2d2d;
    background: #d83037;
    background-image: -moz-linear-gradient(-45deg, #e7363e 20%, #af2e2f 70%);
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.2, #e7363e), color-stop(0.8, #af2e2f));
    -webkit-box-shadow: 1px 2px 3px 2px rgba(50,50,50,0.4);
    -moz-box-shadow: 1px 2px 3px 2px rgba(50, 50, 50, 0.4);
    box-shadow: 1px 2px 3px 2px rgba(50, 50, 50, 0.4);
    margin: 20px;
    padding: 0px;
    text-align: center;   
    color: #2d2d2d;
    font-size: 20px;
    font-weight: bold;
    cursor:pointer;     
}
.close-button:hover{    
    background: #ed5e61;
    background-image: -moz-linear-gradient(-45deg, #ed5e61 20%, #e7363e 70%);
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.2, #ed5e61), color-stop(0.8, #e7363e));    
}
.close-button:active{
    background: #d83037;
    background-image: -moz-linear-gradient(-45deg, #e7363e 20%, #af2e2f 70%);
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.2, #e7363e), color-stop(0.8, #af2e2f));
    -webkit-box-shadow: inset 1px 2px 3px 2px rgba(0, 0, 0,0.4);
    -moz-box-shadow: inset 1px 2px 3px 2px rgba(0, 0, 0, 0.4);
    box-shadow: inset 1px 2px 3px 2px rgba(0, 0, 0, 0.4);
}

.settings-menu{
    display: none;
    background: green;
    border:4px solid #2d2d2d;
    border-radius:  20px;    
    border-color: #ffffff #5d5d5d #5d5d5d #fafafa;
    position: absolute;
    height:80%;
    width:80%;
    left:10%;
    top:15%;
}




